<div class="container">
    <div class="header-wrapper">
        <h1>ガソリン給油シミュレーション</h1>
    </div>

    <div class="container">
        <h2 align="center" >車両とガソリン価格の情報を入力してください</h2>
        <div class="form-wrapper">
                <%= form_for @simsetting, url: simulate_path do |f| %>
                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <%= f.label :fuel_capa, "タンクの容量(L)："%>
                                <%= f.number_field :fuel_capa, class: "form-control"%>
                                <%= f.label :fuel_per1km, "燃費(km/L)：" %>
                                <%= f.number_field :fuel_per1km, step:0.1, class: "form-control" %>
                                <%= f.label :fuel_threshold, "メータがどれくらいで給油しますか？" %>
                                <!-- 20190504追加 -->
                                <%= f.select :fuel_threshold, [["半分以上", "半分以上"],["半分切ったら", "半分切ったら"],["少なくなったら", "少なくなったら"],["ランプがついたら", "ランプがついたら"]], {}, class: "form-control dropdown-toggle" %>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <%= f.label :dist_univ, "平日の平均的な走行距離（km）：" %>
                                <%= f.number_field :dist_univ, step:0.1, class: "form-control" %>
                            
                                <%= f.label :dist_holiday, "休日の平均的な走行距離（km）：" %>
                                <%= f.number_field :dist_holiday, step:0.1, class: "form-control"%>
                            
                                <%= f.label :probability, "休日にお出かけする頻度：" %>
                                <%= f.select :probability, [["ほぼほぼ", "ほぼほぼ"],["半々", "半々"],["気が向いたら", "気が向いたら"],["全然出かけない", "全然出かけない"]], {}, class: "form-control"%>                            
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <%= f.submit "入力内容確認", class: "btn btn-outline-primary btn-block"%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>