<div class="container">
    <div class="header-wrapper">
        <h1>ガソリン給油シミュレーション</h1>
    </div>
    <div class="vehicle-wrapper">
        <h2>車両の情報</h2>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th > 項目 </th>
                    <th > 値 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th >タンクの容量</th>
                    <td ><%= @simsetting.fuel_capa %></td>
                </tr>
                <tr>
                    <th >燃費</th>
                    <td ><%= @simsetting.fuel_per1km %></td>
                </tr>
                <tr>
                    <th >メータがどれくらいで給油しますか？</th>
                    <td ><%= @simsetting.fuel_threshold %></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="userinfo-wrapper">
        <h2>乗り方の情報</h2>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th > 項目 </th>
                    <th > 値 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th >平日の平均的な走行距離</th>
                    <td ><%= @simsetting.dist_univ %> km</td>
                </tr>
                <tr>
                    <th >休日の平均的な走行距離</th>
                    <td ><%= @simsetting.dist_holiday %> km</td>
                </tr>
                <tr>
                    <th >休日にお出かけする頻度</th>
                    <td ><%= @simsetting.probability %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=btn-wrapper2>
        <%= button_to "シミュレーション開始", {controller: 'pages', action: 'simulate_result'}, {method: :get, class: "btn btn-outline-primary btn-block"} %>
    </div>
</div>